<%- include('partials/header') -%> 
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Heroicon name: outline/bars-3
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Heroicon name: outline/x-mark
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Homepage</a>
  
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Feature</a>

              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Homepage</a>
  
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Feature</a>

        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign in</a>
      </div>
    </div>
  </nav>

<div class="hero h-max-screen bg-fixed" style="background-image: url(https://images.unsplash.com/photo-1544281679-d4bb46e4a8ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);">
    <div class="hero-overlay bg-opacity-60"></div>
    <section class="dark:bg-gray-800 dark:text-gray-100">
        <div class="container max-w-xl p-6 py-12 mx-auto space-y-24 lg:px-8 lg:max-w-7xl">
            <div>
                <h2 class="text-3xl font-bold tracking-tight text-center sm:text-5xl dark:text-gray-50">Your personal IT support</h2>
                <p class="max-w-3xl mx-auto mt-4 text-xl text-center dark:text-gray-400">Wherever you go and on whatever device.</p>
            </div>
            <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                <div>
                    <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">Guides and tutorials for common problems.</h3>
                    <p class="mt-3 text-lg dark:text-gray-400">Each device catagory experience very similar problems to one another. Computers can experience blue screens, random restarts, overall slower performance.
                        Cellphones can experience random shutdowns, battery issues, sound issues, etc... Each device have common problems and our goal is to give users the information to not only inform them of their issue,
                        but also give them a guide on how to potentially fix their device.
                    </p>
                    <div class="mt-12 space-y-12">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Step by step guides</h4>
                                <p class="mt-2 dark:text-gray-400">Step by step guides for fixing your devices. 
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Video Tutorials</h4>
                                <p class="mt-2 dark:text-gray-400">Video formated tutorials for the more time consuming or challenging problems</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Know when to seek professional help</h4>
                                <p class="mt-2 dark:text-gray-400">When all options are out, we will let you know when to seek out the professionals. Take what you've learned and tell the professionals all the options you've tried.
                                    This ensures that most possible causes are eliminated, making the IT Technician's job a lot easier.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="mt-10 lg:mt-0">
                    <img src="https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500">
                </div>
            </div>
            <div>
                <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                    <div class="lg:col-start-2">
                        <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">Links and references for most devices.</h3>
                        <p class="mt-3 text-lg dark:text-gray-400">A simple all in one resource where you can find the necessary support pages for your device. We provide links and references for most popular brand devices.</p>
                        <div class="mt-12 space-y-12">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Easily access your manufacturer's support page</h4>
                                    <p class="mt-2 dark:text-gray-400">If you are having a hard time finding your device's support page, we provide all the links in one page.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Helpful resources from third party sites</h4>
                                    <p class="mt-2 dark:text-gray-400">Not all information and resources are available in the support pages, that is why we also bring in third party resources from credible sites and people.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Add references and links</h4>
                                    <p class="mt-2 dark:text-gray-400">Add your own resources and links for the community to see and learn from.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
                        <img src="https://images.unsplash.com/photo-1600267165477-6d4cc741b379?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500">
                    </div>
                </div>
            </div>
            <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                <div>
                    <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">Ask for help from the Community</h3>
                    <p class="mt-3 text-lg dark:text-gray-400">Partake in a community where people are helping one another. With technology being so prevelant in our lives, there is no doubt that many users have come across
                        the same issues. Hear from the community what they've tried and done to get their devices up and running.
                    </p>
                    <div class="mt-12 space-y-12">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Create posts and share</h4>
                                <p class="mt-2 dark:text-gray-400">Any user who creates an account has the ability to create posts, add links and resources, and interact with the community.</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Toxic-free environment</h4>
                                <p class="mt-2 dark:text-gray-400">We want to offer users a place where they can ask their questions without worrying what others would think. We value a toxic-free community enviornment,
                                    and if there is anyone who is causing problems, report them to our moderation team and they will handle the situation appropriately.
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="ml-4">
                                <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Be rewarded for helping the community</h4>
                                <p class="mt-2 dark:text-gray-400">If you go above and beyond, helping the community and bring positive vibes, then you can rank up and get special perks for helping the community.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-hidden="true" class="mt-10 lg:mt-0">
                    <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500">
                </div>
            </div>
            <div>
                <div class="grid lg:gap-8 lg:grid-cols-2 lg:items-center">
                    <div class="lg:col-start-2">
                        <h3 class="text-2xl font-bold tracking-tight sm:text-3xl dark:text-gray-50">Get help from a professional</h3>
                        <p class="mt-3 text-lg dark:text-gray-400">A future implementation in progress, get professional help from actual IT Technicians working in the field and recommendations for local
                            repair stores in your area.
                        </p>
                        <div class="mt-12 space-y-12">
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Talk with real IT Technicians one-on-one</h4>
                                    <p class="mt-2 dark:text-gray-400">A future implementation, we want to offer our users the ability to talk with actual IT Technicians about your problems. Get in a chat room and discuss 
                                        your device's problem with them and they can offer you insight or advice on how to fix your device.
                                    </p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Support local businesses</h4>
                                    <p class="mt-2 dark:text-gray-400">We want to help local businesses by recommending our users to these local repair stores. By doing so, we can help both you and the local businesses. A win-win situation.</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex-shrink-0">
                                    <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-teal-300 dark:text-gray-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h4 class="text-lg font-medium leading-6 dark:text-gray-50">Build a connection with your IT Tech</h4>
                                    <p class="mt-2 dark:text-gray-400">By offering this service, we want you to build a connection with your IT Tech/local business owners. We want you to feel assured that your problems will be fixed 
                                        and that you have nothing to worry about. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 lg:mt-0 lg:col-start-1 lg:row-start-1">
                        <img src="https://images.unsplash.com/photo-1580894908361-967195033215?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="" class="mx-auto rounded-lg shadow-lg dark:bg-gray-500">
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>